@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

:root {
    font-family: "Segoe UI Emoji", "MS P ゴシック";
    /* font-size: 9vh; */
    font-weight: 900;
    --commentLane: 11;
    --rowHeight: calc(100vh/var(--commentLane));
}

body {
    background-color: rgb(0, 255, 0);
    /* スクロールバーの消去 */
    overflow: hidden;
    position: relative;
    /* これによってコメントが長くても折り返さないようになる */
    white-space: nowrap;
}

#ruler {
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    font-size: var(--rowHeight);
}

.row {
    color: white;
    height: var(--rowHeight);
    font-size: var(--rowHeight);
}